* {
    border: none;
    border-radius: 0px 0px 0px 0px;
    color: #fcfcfc;
    font-family: "JetBrainsMono";
    font-size: 12pt;
}

window#waybar {
    color: #dddddd;
    background-color: rgba(0, 0, 0, 1);
}

#workspaces button {
    color: #3daee9;
    padding: 0 5px;
    border-radius: 0px;
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #fcfcfc;
    background: transparent;
}

#workspaces button.focused {
    background-color: #3daee9;
    color: #232627;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: rgba(200, 0, 0, 0.65);
}

clock,
#battery,
#mpd {
    background-color: #3daee9;
    color: #232627;
    padding: 0 5px;
    border-radius: 5px 5px 5px 5px;
}

#custom-gpu-usage {
    background-color: #d01e21;
    color: #232627;
    margin: 0 0px;
    padding: 0 5px;
    border-radius: 5px 0px 0px 5px;
}

#custom-gpu-temp {
    background-color: #d01e21;
    color: #232627;
    padding: 0 5px;
    margin: 0 0px;
    border-radius: 0px 0px 0px 0px;
}

#cpu {
    background-color: #d01e21;
    color: #232627;
    margin: 0 0px;
    padding: 0 5px;
    border-radius: 0px 0px 0px 0px;
}

#custom-cpu-temp {
    background-color: #d01e21;
    color: #232627;
    padding: 0 5px;
    margin: 0 0px;
    border-radius: 0px 5px 5px 0px;
}

memory,
#disk,
temperature,
#backlight,
network,
pulseaudio,
#custom-media,
#tray {
    padding: 0 5px;
    margin: 0 0px;
}
#custom-power {
    padding: 0 5px;
}

#custom-nettraf {
    margin: 0 0px;
    padding: 0 5px;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-center {
    margin-left: 15px;
    margin-right: 15px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/*
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
*/

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#language {
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
